html {
	font-family: 'Playfair Display', serif;
}

body {
	padding: 0;
	margin: 0;
	background-image: url(/Pictures/Page%20Background.svg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-size: 3em;
	margin-top: 0;
}

blockquote {
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 5em;
	position: absolute;
	color: lightgray;
	left: -0.5em;
	top: -0.42em;
}

input[type=text],
input[type=search],
input[type=email],
textarea {
	background-color: transparent;
	font-family: 'Playfair Display', sans-serif;
	font-size: 1em;
	border: 1px solid black;
	padding: 1px 4px;
}

input[type=text]:focus,
input[type=button]:focus,
input[type=search]:focus,
input[type=email]:focus,
textarea:focus {
	outline: none;
}

.bigImage {
	max-width: 100%;
	max-height: 100%;
}

#topBox {
	background-image: url('/Pictures/Header Background.svg');
	height: 7em;
	width: 100vw;
	position: absolute;
	border-bottom: 1px solid black;
}

#main {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

#header {
	padding: 2em 0;
	margin-bottom: 2em;
	vertical-align: middle;
	height: 5em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#header #leftSide {
	float: left;
}

#header #logo {
	height: 3em;
}

#header #nav {
	display: inline-block;
	float: right;
}

#header #nav h4 {
	display: inline-block;
	padding: 0 0 0 2em;
	text-transform: uppercase;
	cursor: pointer;
}

#mainContent {
	float: left;
	width: calc(100% - 325px);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2em;
	padding-right: 1em;
}

#sidebar {
	float: right;
	width: 325px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2em;
}

@media (max-width: 800px) {
	#mainContent,
	#sidebar {
		float: none;
		width: 100%;
	}
}

@media (max-width: 650px) {
	#header #nav h4 {
		display: none;
	}

	#header #nav h4:last-of-type {
		display: inline-block;
	}
}

.recentStory {
	cursor: pointer;
}

.recentStory:after {
	content: "read more";
	font-size: 0.8em;
	border-bottom: 1px solid lightgray;
	position: relative;
	top: -1em;
}

.popup {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: none;
}

.popup > .container {
	width: 800px;
	height: 500px;
	border: 1px solid black;
	background: lightgray;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 800px) {
	.popup > .container {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}
}

@media (max-width: 600px) {
	.popup > .container {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

.popup .container .container {
	position: relative;
	background: white;
	padding: 2em;
	width: 740px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.closePopup {
	position: absolute;
	top: 0;
	right: 16px;
	font-size: 32px;
	cursor: pointer;
}

.emailInputs {
	display: inline-block;
}

.emailInputs input {
	cursor: progress;
}

.forgotStuffs {
	font-size: 0.8em;
	text-decoration: underline;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.allTheMoney {
	color: #85bb65;
	position: fixed;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	animation: fading 0.5s 1;
	-webkit-animation: fading 0.5s 1;
	animation-fill-mode: forwards;

	animation-delay: 2s;
	-webkit-animation-delay: 1s;
	/* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
}

@keyframes fading {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fading {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
