html {
	font-family: 'Playfair Display', serif;
}

body {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	font-size: 3em;
}

#main {
	max-width: 800px;
	margin: 0 auto;
}

#header {
	background-color: lightgray;
}
